/*设置*/
/*列表菜单*/
.app-list-menu{
    background: #FFF;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.app-list-menu:before{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #E1E1E1;
    left: 0;
    top: 0;
    -webkit-transform: scaleY(.5); /*缩小半截*/
    transform: scaleY(.5);
}
.app-list-menu:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #E1E1E1;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleY(.5); /*缩小半截*/
    transform: scaleY(.5);
}
.app-list-menu li{
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 14px;
}
.app-list-menu li:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 15px;
    bottom: 0;
    background: #E1E1E1;
    -webkit-transform: scaleY(.5); /*缩小半截*/
    transform: scaleY(.5);
}
.app-list-menu li:last-child:after{
    height: 0;
}
.app-list-menu li a{
    display: block;
    width: 100%;
    padding: 15px;
    color: #000000;
}
/*列表菜单--end*/

