<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.weijd.mapper.ILoansUseMapper">

    <resultMap id="BaseLoansUse" type="com.magic.weijd.entity.LoansUse">
        <result column="id" property="id" javaType="java.lang.Integer"/>
        <result column="name" property="name" javaType="java.lang.String"/>
    </resultMap>

    <select id="list" resultMap="BaseLoansUse">
        SELECT * FROM loans_use
    </select>

    <insert id="save" parameterType="com.magic.weijd.entity.LoansUse">
        insert into loans_use (`name`) values (#{name});
    </insert>

   <update id="update" parameterType="com.magic.weijd.entity.LoansUse">
        update loans_use set name = #{name} where id = #{id}
   </update>

</mapper>